{% extends 'base.html.twig' %}
{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading"> Cars Arrêtés</h1>
            <p class="lead text-muted">{{ name }} Cette plateforme a été mise en place pour gérer l'ensemble de la flotte Aps et Fle</p>
        </div>
    </section>
    <section>

    </section>

{% endblock %}