{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Liste des Autocars en panne actuellement</h1>
            </div>
        </div>
    </div>
{% endblock %}